@using KeaBlog.Areas.Admin.Models
@using Webdiyer.WebControls.Mvc
@model KeaBlog.Areas.Admin.Models.PostListViewModel
@{
    Layout = "~/Views/Shared/_TwoColRightLayout.cshtml";
}

@{
    if (Model.Category != null)
    {
        <div class="well well-small"><i class="icon-certificate"></i>&nbsp;@Model.Category.Name</div> 
    }
    if (Model.Tag != null)
    {
        <div class="well well-small"><i class="icon-tag"></i>&nbsp;@Model.Tag.Name</div>
    }
    if (Model.Query != null)
    {

            <div class="row">
                <div class="span9">
                    <form action='@Url.Action("Search", "Blog")' method="get" class="form-search">
                        <div class="well well-small">                       
                            <input type="text" class="span7" placeholder="Search" name="query" value="@Model.Query">
                            <button type="submit" class="btn btn-success pull-right input-medium"><i class="icon-search icon-white"></i> Search</button>
                        </div>
                    </form>
                </div>
            </div>
    }
    
    foreach (PostViewModel viewModel in Model.Posts)
    {
        Html.RenderPartial("_PostViewShort", viewModel);
    }
}
<div class="pagination">
            @Html.Pager(Model.Posts, new PagerOptions
            {
                PageIndexParameterName = "page",
                NumericPagerItemCount = 10,
                AlwaysShowFirstLastPageNumber = true,
                PagerItemWrapperFormatString = "<li>{0}</li>",
                CurrentPagerItemWrapperFormatString = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                NumericPagerItemWrapperFormatString = "<li>{0}</li>",
                ContainerTagName = "ul",
                ShowFirstLast = false,
                SeparatorHtml = "",
                PrevPageText = "&larr;",
                NextPageText = "&rarr;"
            })   
</div>
