@{
    ViewBag.Title = "My contacts";
    Layout = "~/Views/Shared/_ContentAloneLayout.cshtml";
}

<div class="row">
    <div class="span12 pagination-centered">
        <h1 class="contact-header">My contacts</h1>        
    </div>
</div>
<br/>
<p class="contact-about">
    About me.
</p>
<br/>
<div class="row">
    <div class="span6 offset3">
        <table class="table table-hover">
            <tr>
                <td class="span1"><a href="mailto:pencroff@gmail.com"><i class="social-email"></i></a></td>
                <td class="contact-line">Mail to me</td>
            </tr>    
            <tr>
                <td class="span1"><a href="http://twitter.com/Pencroff"><i class="social-twitter"></i></a></td>
                <td class="contact-line">Follow me on twitter</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://plus.google.com/103666120703025342706/posts"><i class="social-google-plus"></i></a></td>
                <td class="contact-line">See my Google+</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://www.facebook.com/pencroff"><i class="social-facebook"></i></a></td>
                <td class="contact-line">Come to my Facebook</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://www.linkedin.com/in/sergeidanilov"><i class="social-linkedin"></i></a></td>
                <td class="contact-line">Professional on LinkedIn</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://github.com/Pencroff"><i class="social-github"></i></a></td>
                <td class="contact-line">My GitHub repositories</td>
            </tr>
            <tr>
                <td class="span1"><a href="callto://daniloff.sergey"><i class="social-skype"></i></a></td>
                <td class="contact-line">Phone me with Skype</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

