@{
    ViewBag.Title = "My contacts";
    Layout = "~/Views/Shared/_ContentAloneLayout.cshtml";
}

<div class="row">
    <div class="span12 pagination-centered">
        <h1 class="contact-header">About me</h1>        
    </div>
</div>
<div class="row">
    <div class="span3 pagination-centered">
        <ul class="thumbnails">
            <li class="span3">
                <img class="img-polaroid" height="200" width="200" alt="Danilov Sergei" title="My photo." src="http://www.gravatar.com/avatar/fd08d1add523c9554941ed12c9690397?s=200"/>
            </li>
            <li class="span3">
                <a href="@Url.Action("Download", "Home", new{fileName="danilov-sergei-resume.docx"})">
                    <img src="/Content/images/cv-resume-64.png" alt="Danilov Sergei resume" title="My resume">
                </a>
                <p class="contact-about pagination-centered">
                    <a href="@Url.Action("Download", "Home", new{fileName="danilov-sergei-resume.docx"})">
                        Download my resume
                    </a>
                </p>
            </li>
        </ul>
    </div>
    <div class="span9">
        @*<p class="contact-about">
            I am a developer and I know C# and JavaScript. I like programming web sites and web services. I have experience in C# more two years and my experience in JavaScript is one year. In .NET I know ASP.NET MVC, ASP.NET, WCF, WPF, Silverlight, Entity Framework, TSQL. Example of my code you can find in GitHub <a href="http://github.com/Pencroff" target="_blank">profile</a>. In JavaScript I know ‘Vanilla JS’ and jQuery. Now I am learning javascript MV-framework Backbone.js and I am creating simple single page application. Please send me a letter, if you have questions or offers for me.
        </p>*@
        <p class="contact-about">
            Hi. My name is Sergey Danilov. I am a responsible and goals oriented web-developer for front-end and back-end solutions. I always educate myself in using simple solutions for difficult tasks. I have a deep knowledge with .NET framework, JavaScript and OOP concepts. Also I am proficient in Database development and requirements analysis time for new tasks. I use the latest trends in web development. My new web-service was built as a single page application.
        </p>
        <p class="contact-about">
            I love developing the solid web apps that are used as designer services, file and music storage, portal for html5 games, e-commerce services and much more. I able to understand the managers task description and I am able to transfer it to the IT expression and programming tasks. I love simple and elegant solutions of any tasks. I complete my work on time with quality.
        </p>
        <p class="contact-about">
            Currently I am in the process of mastering JavaScript MV-framework Backbone.js. This is basis for qualitatively web apps and services. You can find examples of my work at my <a href="http://github.com/Pencroff" target="_blank">GitHub profile</a>.
        </p>
        <p class="contact-about">
            I exposed for offers.  Mail to me on <a href="mailto:pencroff@gmail.com" target="_blank">pencroff@gmail.com</a>.
        </p>
    </div>
</div>
<br/>
<div class="row">
    <div class="span12 pagination-centered">
        <h3 class="contact-header">My contacts</h3>        
    </div>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-hover">  
            <tr>
                <td class="span4"></td>
                <td class="span1"><a href="mailto:pencroff@gmail.com" target="_blank"><i class="social-email"></i></a></td>
                <td class="contact-line">Mail to me</td>
            </tr>
        </table>      
    </div>
    <div class="span6">
        <table class="table table-hover">  
            <tr>
                <td class="span1"><a href="http://twitter.com/Pencroff" target="_blank"><i class="social-twitter"></i></a></td>
                <td class="contact-line">Follow me on twitter</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://plus.google.com/103666120703025342706/posts" target="_blank"><i class="social-google-plus"></i></a></td>
                <td class="contact-line">See my Google+</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://www.facebook.com/pencroff" target="_blank"><i class="social-facebook"></i></a></td>
                <td class="contact-line">Come to my Facebook</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="span6">
        <table class="table table-hover">
            <tr>
                <td class="span1"><a href="http://www.linkedin.com/in/sergeidanilov" target="_blank"><i class="social-linkedin"></i></a></td>
                <td class="contact-line">Professional on LinkedIn</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://github.com/Pencroff" target="_blank"><i class="social-github"></i></a></td>
                <td class="contact-line">My GitHub repositories</td>
            </tr>
            <tr>
                <td class="span1"><a href="callto://daniloff.sergey" target="_blank"><i class="social-skype"></i></a></td>
                <td class="contact-line">Phone me with Skype</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

