@{
    ViewBag.Title = "My contacts";
    Layout = "~/Views/Shared/_ContentAloneLayout.cshtml";
}

<div class="row">
    <div class="span12 pagination-centered">
        <h3 class="contact-header">About me.</h3>        
    </div>
</div>
<div class="row">
    <div class="span3 pagination-centered">
        <img class="img-polaroid" height="200" width="200" alt="Danilov Sergei" title="My photo." src="http://www.gravatar.com/avatar/fd08d1add523c9554941ed12c9690397?s=200"/>       
    </div>
    <div class="span9">
        <p class="contact-about">
            I am a developer. I know C# and javascript. I like programming web sites and web services. I have experience in C# more two years and my experience in JavaScript near one year. I am using in .NET: ASP.NET MVC, WCF, WPF, Silverlight, Entity Framework, ASP.NET Components, TSQL. Example of my code you can see in GitHub profile (the link below). In javascript I know Vanilla JS and jQuery. Now I am learning javascript MV-framework Backbone.js and I am creating simple single page application. Mail to me, if you have questions or offers to me.   
        </p>    
    </div>
</div>
<br/>
<div class="row">
    <div class="span12 pagination-centered">
        <h3 class="contact-header">My contacts</h3>        
    </div>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-hover">  
            <tr>
                <td class="span4"></td>
                <td class="span1"><a href="mailto:pencroff@gmail.com"><i class="social-email"></i></a></td>
                <td class="contact-line">Mail to me</td>
            </tr>
        </table>      
    </div>
    <div class="span6">
        <table class="table table-hover">  
            <tr>
                <td class="span1"><a href="http://twitter.com/Pencroff"><i class="social-twitter"></i></a></td>
                <td class="contact-line">Follow me on twitter</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://plus.google.com/103666120703025342706/posts"><i class="social-google-plus"></i></a></td>
                <td class="contact-line">See my Google+</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://www.facebook.com/pencroff"><i class="social-facebook"></i></a></td>
                <td class="contact-line">Come to my Facebook</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="span6">
        <table class="table table-hover">
            <tr>
                <td class="span1"><a href="http://www.linkedin.com/in/sergeidanilov"><i class="social-linkedin"></i></a></td>
                <td class="contact-line">Professional on LinkedIn</td>
            </tr>
            <tr>
                <td class="span1"><a href="http://github.com/Pencroff"><i class="social-github"></i></a></td>
                <td class="contact-line">My GitHub repositories</td>
            </tr>
            <tr>
                <td class="span1"><a href="callto://daniloff.sergey"><i class="social-skype"></i></a></td>
                <td class="contact-line">Phone me with Skype</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

