<td><input type="text" placeholder="H-shift, px" class="edit-row" style="width: 30px;" data-field="hShadow" data-cid="<%=id%>" value="<%=hShadow%>"></td>
<td><input type="text" placeholder="V-shift, px" class="edit-row" style="width: 30px;" data-field="vShadow" data-cid="<%=id%>" value="<%=vShadow%>"></td>
<td><input type="text" placeholder="Blur, px" class="edit-row" style="width: 20px;" data-field="blur" data-cid="<%=id%>" value="<%=blur%>"></td>
<td><input type="text" placeholder="Color" class="edit-row" style="width: 60px;" data-field="color" data-cid="<%=id%>" value="<%=color%>"></td>
<td><input type="text" placeholder="Opacity" class="edit-row" style="width: 30px;" data-field="opacity" data-cid="<%=id%>" value="<%=opacity%>"></td>
<td><button class="btn btn-danger btn-mini delete-row" data-cid="<%=id%>" type="button"><i class="icon-remove"></i></button></td>