@{
    Layout = "~/Views/Shared/_ContentAloneLayout.cshtml";
}

<h2 class="contact-header pull-right">Pencroff.com</h2>
<br/>
<div class="row">
    <div class="span12 clearfix">
        <p class="contact-about" style="font-size: 1.55em; text-align: justify;">
            <strong>[RU]</strong><br/>
            Привет! Это блог о программировании, о граблях в программировании, о новых и интересных технологиях для Web-сайтов и Web-сервисов. Этот блог является моим портфолио разработок, а так же сборником всего того что я Сам искал и обобщал для понимания той или иной задачи - шпаргалка для себя и по совместительству для Вас.
        </p>
        <p class="contact-about" style="text-align: justify;">
            <strong>[EN]</strong><br/>
            Hi! This is blog about programming, about some trouble in programming, about new and interesting technologies for Web-sites or Web-services. This blog is portfolio of my code, also it is a collection of code snippets used in my practice. You can read articles about my solved issues or you can use this site as a cheat of knowledge.
        </p>        
    </div>
</div>
