  @*  <div class="well">
        Some extra content
    </div>*@
@model KeaBlog.Models.ColumnModel
@{
    foreach (KeyValuePair<string, object> valuePair in Model.Dictionary)
    {
        Html.RenderPartial(valuePair.Key, valuePair.Value);
    }
}