  @*  <div class="well">
        Some extra content
    </div>*@
@model Dictionary<string, object>
@{
    foreach (KeyValuePair<string, object> valuePair in Model)
    {
        Html.RenderPartial(valuePair.Key, valuePair.Value);
    }
}