@model ModelStateDictionary

@if(!Model.IsValid)
{
    <div class="row">
        <div class="span5 offset4">
            <div class="alert alert-error alert-block">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <h6 class="alert-heading">Please correct the errors and try again.</h6>
            <ul>
                @foreach (var modelError in Model.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                {
                    <li>@modelError.ErrorMessage</li>
                }
            </ul>
        </div>            
        </div>
    </div>
    <script type="text/javascript">$(".alert").alert()</script>
}