@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_ContentAloneLayout.cshtml";
}

<h2>Page not found</h2>
<br/>
<div class="row">
    <div class="span12">
        <p class="lead">
            Something went wrong ...
        </p>
    </div>
</div>
<br/>
<div class="row">
    <div class="span4 offset4 pagination-centered">
        <a href="/" class="btn btn-danger btn-large span3">Return to main page</a>
    </div>
</div>
<br/><br/>
<div class="row well">
    <div class="span12" style="height: 350px; text-align: center;">
        <p style="font-size: 150px; font-weight: bold;  color: #B94A48; height: 150px; margin:150px 0px; text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;">
            Error 404
        </p>
    </div>
</div>