@{
    ViewBag.Title = "_ContentAloneLayout";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}

<div class="container">
    <div class="row">
        <div class="span12">
            @RenderBody()                    
        </div>
    </div>
</div>
