@{
    ViewBag.Title = "_TwoColRightLayout";
    Layout = "~/Views/Shared/_LayoutBootstrap.cshtml";
}
<div class="container">
    <div class="row">
        <div class="span9">@RenderBody()</div>
        <div class="span3">
            @{ Html.RenderAction("Column", "Extra"); }
        </div>
    </div>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bbeditor.render")
    @Styles.Render("~/Content/css/bbeditor")
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.2/styles/default.min.css" type="text/css">
    <script src="http://yandex.st/highlightjs/7.2/highlight.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            var renderElements = $('.contentBB'),
                viewElement, bbHtml, html;
            wysibb.options.themePrefix = '/Content/BBEditor/';
            renderElements.each(function (index) {
                viewElement = $(this);
                bbHtml = viewElement.html();
                html = wysibb.render(bbHtml);
                viewElement.html(html);
            });
            //$('body').append(wysibb.helpers.wbbStringFormat('<link rel="stylesheet" type="text/css" media="all" href="{themePrefix}/{themeName}/theme.css" />', wysibb.options))
        });
    </script>
}
